{% extends 'base.html.twig' %}

{% block title %}Hello Dashboard{% endblock %}

{% block body %}
<div class="container content">
<div class="row">
	<div class="col-md-12 searchholder" >
  My Error page
	</div>
</div>
</div>

{% endblock %}
